<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p basicCss>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, exercitationem sit? Ullam quae molestiae voluptatum.
      </p>
      <p adavancecss>
        <strong>advance</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nam error repudiandae incidunt ullam commodi.
      </p>
      <p mousecss>
        <strong>mousecss Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam maiores aliquam nesciunt!</strong>

      </p>
    </div>
  </div>
</div>


<!-- /// basicCss>> guest -->
<!-- p tag >> host  -->
